.full-banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 190px;
    padding-bottom: 190px;
    background-position: center; }
    .full-banner.advertise-banner {
      background-image: url("../images/fashion/banner.jpg"); }
    .full-banner.parallax-layout {
      padding-top: 350px;
      padding-bottom: 350px; }
      .full-banner.parallax-layout .banner-contain h4 {
        color: #7f786d; }
    .full-banner.banner-layout-3 .banner-contain h4 {
      color: #ffffff; }
    .full-banner.banner-layout-3 .banner-contain h3 {
      color: #ffffff;
      margin-top: 10px; }
    .full-banner.banner-layout-3 .banner-contain .color {
      color: var(--tyrkys);
      line-height: 1; }
    .full-banner.parallax {
      background-attachment: fixed; }
    .full-banner.p-left .banner-contain {
      float: left; }
    .full-banner.p-right .banner-contain {
      float: right; }
    .full-banner.p-center .banner-contain {
      left: 0;
      right: 0;
      margin: 0 auto; }
    .full-banner.feature-banner {
      padding: 50px 0; }
      .full-banner.feature-banner h2 {
        text-align: center;
        color: #ffffff;
        margin-bottom: 180px;
        margin-top: -7px; }
      .full-banner.feature-banner .feature-object,
      .full-banner.feature-banner .feature-object-right {
        text-align: right;
        margin-bottom: -5px; }
        .full-banner.feature-banner .feature-object li,
        .full-banner.feature-banner .feature-object-right li {
          margin-bottom: 55px;
          margin-right: 50px; }
          .full-banner.feature-banner .feature-object li .media img,
          .full-banner.feature-banner .feature-object-right li .media img {
            border-radius: 100%;
            border: 1px solid white;
            margin-left: 15px;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
          .full-banner.feature-banner .feature-object li .media .media-body,
          .full-banner.feature-banner .feature-object-right li .media .media-body {
            text-align: right;
            margin-top: 18px; }
            .full-banner.feature-banner .feature-object li .media .media-body h4,
            .full-banner.feature-banner .feature-object li .media .media-body p,
            .full-banner.feature-banner .feature-object-right li .media .media-body h4,
            .full-banner.feature-banner .feature-object-right li .media .media-body p {
              color: white; }
            .full-banner.feature-banner .feature-object li .media .media-body h4,
            .full-banner.feature-banner .feature-object-right li .media .media-body h4 {
              font-size: 1.25rem; }
            .full-banner.feature-banner .feature-object li .media .media-body p,
            .full-banner.feature-banner .feature-object-right li .media .media-body p {
              margin-bottom: 0; }
          .full-banner.feature-banner .feature-object li:hover .media img,
          .full-banner.feature-banner .feature-object-right li:hover .media img {
            background-color: white;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: scale(1.05);
                    transform: scale(1.05); }
          .full-banner.feature-banner .feature-object li:nth-child(2),
          .full-banner.feature-banner .feature-object-right li:nth-child(2) {
            padding-right: 30px; }
          .full-banner.feature-banner .feature-object li:nth-child(3),
          .full-banner.feature-banner .feature-object-right li:nth-child(3) {
            padding-right: 60px;
            margin-bottom: 0; }
      .full-banner.feature-banner .feature-object-right {
        text-align: left;
        margin-left: 50px; }
        .full-banner.feature-banner .feature-object-right li .media img {
          margin-left: 0;
          margin-right: 15px; }
        .full-banner.feature-banner .feature-object-right li .media .media-body {
          text-align: left; }
        .full-banner.feature-banner .feature-object-right li:nth-child(2) {
          padding-right: 0;
          padding-left: 30px; }
        .full-banner.feature-banner .feature-object-right li:nth-child(3) {
          padding-right: 0;
          padding-left: 60px; }
      .full-banner.feature-banner .center-img {
        position: absolute;
        bottom: -112px;
        left: 50%;
        margin: 0 auto;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .full-banner.feature-banner .banner-decor .left-img {
        left: 50px;
        position: absolute;
        top: 0;
        -webkit-animation: movebounce 4.9s linear infinite;
                animation: movebounce 4.9s linear infinite; }
      .full-banner.feature-banner .banner-decor .right-img {
        right: 50px;
        position: absolute;
        top: 0;
        -webkit-animation: movebounce 4.9s linear infinite;
                animation: movebounce 4.9s linear infinite; }
  
  @-webkit-keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px); }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); } }
  
  @keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px); }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); } }
    .full-banner.small-banner {
      padding-top: 45px !important;
      padding-bottom: 45px !important; }
      .full-banner.small-banner .banner-contain.app-detail {
        padding-left: 40px; }
        .full-banner.small-banner .banner-contain.app-detail h4 {
          padding-top: 0;
          margin-bottom: 10px; }
        .full-banner.small-banner .banner-contain.app-detail .store-btn a + a {
          margin-left: 10px; }
    .full-banner .banner-contain .btn-solid,
    .full-banner .banner-contain .btn-outline {
      margin-top: 20px; }
    .full-banner .banner-contain h2 {
      font-size: 100px;
      font-weight: 700;
      color: var(--tyrkys);
      text-transform: uppercase;
      margin-top: -15px; }
    .full-banner .banner-contain h3 {
      font-size: 3.75rem;
      color: #333333;
      text-transform: uppercase;
      font-weight: 700; }
    .full-banner .banner-contain h4 {
      font-size: 1.5rem;
      color: #777777;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      padding-top: 10px;
      margin-bottom: -5px;
      line-height: 1.3; }
    .full-banner .banner-contain.christmas-contain .btn-solid,
    .full-banner .banner-contain.christmas-contain .btn-outline {
      margin-top: calc(20px + (65 - 20) * ((100vw - 320px) / (1920 - 320))); }
    .full-banner .banner-contain.christmas-contain h2 {
      font-size: calc(24px + (70 - 24) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 700;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 0;
      margin-top: 0; }
    .full-banner .banner-contain.christmas-contain h3 {
      font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
      color: #ffffff;
      text-transform: capitalize;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: -6px; }
    .full-banner .banner-contain.christmas-contain h4 {
      font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
      color: #ffffff;
      font-weight: 600;
      text-transform: capitalize;
      letter-spacing: 0.07em;
      padding-top: 10px;
      margin-bottom: -5px;
      line-height: 1.3; }
      .full-banner .banner-contain.christmas-contain h4 span {
        color: var(--tyrkys); }
    .full-banner .santa-img {
      position: absolute;
      bottom: -62px;
      left: 28px; }
      .full-banner .santa-img img {
        display: inline-block;
        -webkit-animation-name: dance;
                animation-name: dance;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
                transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
    .full-banner .decor {
      position: absolute;
      top: -150px;
      left: 0; }
  
  @-webkit-keyframes dance {
    0% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg); }
    16.66%,
    49.98% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg); }
    32.32% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    66.64%,
    100% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg); }
    83.8% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg); } }
  
  @keyframes dance {
    0% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg); }
    16.66%,
    49.98% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg); }
    32.32% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    66.64%,
    100% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg); }
    83.8% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg); } }
    .full-banner.section-space {
      padding: 100px 0; }
    .full-banner.custom-space {
      padding: 100px 0; }
  
  .parallax {
    background-attachment: fixed; }
  
  .parallax-cls section:nth-child(odd) .full-banner {
    background-position: right; }
  
  .parallax-cls section:nth-child(even) .full-banner {
    background-position: left; }
  
  .parallax-cls section .banner-contain {
    margin-top: -12px; }
  
  
  .advertise-section .full-banner {
    padding-bottom: 105px;
    padding-top: 105px;
    background-position: top; }
    .advertise-section .full-banner .banner-contain {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 40px 0;
      width: 90%;
      border: 3px solid var(--tyrkys); }
      .advertise-section .full-banner .banner-contain h2 {
        font-size: 75px; }
  
  .banner-text-white .collection-banner .contain-banner h2 {
    color: #ffffff; }
  

    @media (max-width: 1367px) {
      .full-banner .banner-contain h2 {
        font-size: 90px; }
      .full-banner .banner-contain h3 {
        font-size: 3.4375rem; }
      .full-banner .banner-contain h4 {
        font-size: 1.5rem;
        padding-top: 8px; }
      .full-banner .banner-contain .color {
        padding-top: 0; }
    }


    @media (max-width: 1199px) {
      .full-banner .banner-contain h2 {
        font-size: 85px; }
        .full-banner .banner-contain h3 {
          font-size: 3.125rem; }
          .full-banner .banner-contain h4 {
            font-size: 1.375rem;
            padding-top: 5px; }
            .full-banner .santa-img img {
              width: 200px; }
              .full-banner.feature-banner .feature-object li,
              .full-banner.feature-banner .feature-object-right li {
                margin-right: 0; }
    }



    @media (max-width: 991px) {
      .full-banner {
        padding-top: 180px;
        padding-bottom: 180px; }
        .full-banner.parallax-layout {
          padding-top: 180px;
          padding-bottom: 180px; }
        .full-banner.feature-banner .feature-object li:nth-child(2),
        .full-banner.feature-banner .feature-object-right li:nth-child(2) {
          padding-right: 0;
          padding-left: 0; }
        .full-banner.feature-banner .feature-object li:nth-child(3),
        .full-banner.feature-banner .feature-object-right li:nth-child(3) {
          padding-right: 0;
          padding-left: 0; }
        .full-banner.feature-banner .center-img {
          display: none; }
        .full-banner.feature-banner .feature-object-right {
          margin-left: 0; }
        .full-banner.feature-banner .banner-decor .left-img img,
        .full-banner.feature-banner .banner-decor .right-img img {
          width: 100px; }
        .full-banner.feature-banner h2 {
          margin-bottom: 30px; }
        .full-banner .banner-contain h2 {
          font-size: 3.75rem; }
        .full-banner .banner-contain h3 {
          font-size: 2.1875rem; }
        .full-banner .banner-contain h4 {
          font-size: 1.25rem;
          padding-top: 5px; }
        .full-banner .decor {
          display: none; }
      .center-object-banner .full-banner.feature-banner h2 {
        margin-bottom: 30px; }
    }

    @media (max-width: 767px) {
      .full-banner.custom-space {
        padding: 30px 0; }
      .full-banner .custom-size.banner-contain h2 {
        font-size: calc(30px + (55 - 30) * ((100vw - 320px) / (767 - 320)));
        margin-bottom: 0; }
      .full-banner .custom-size.banner-contain h3 {
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (767 - 320))); }
      .full-banner .custom-size.banner-contain .btn {
        margin-top: 0;
        padding: 7px 19px;
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (767 - 320))); }

        .full-banner {
          padding-top: 120px;
          padding-bottom: 120px; }
          .full-banner.parallax-layout {
            padding-top: 120px;
            padding-bottom: 120px; }
          .full-banner.feature-banner .banner-decor .left-img,
          .full-banner.feature-banner .banner-decor .right-img {
            display: none; }
          .full-banner.feature-banner h2 {
            margin-bottom: 35px; }
          .full-banner .banner-contain h2 {
            font-size: 75px; }
          .full-banner .santa-img img {
            width: 125px; }
        .pet-parallax .full-banner {
          padding-top: 120px;
          padding-bottom: 120px; }
    }


    @media (max-wdith: 577px) {
      .full-banner {
        padding-top: 50px;
        padding-bottom: 50px; }
        .full-banner.parallax-layout {
          padding-top: 50px;
          padding-bottom: 50px; }
        .full-banner .banner-contain {
          background-color: rgba(255, 255, 255, 0.48);
          padding: 25px; }
          .full-banner .banner-contain .btn-solid,
          .full-banner .banner-contain .btn-outline {
            padding: 10px 20px; }
        .full-banner.p-left .banner-contain, .full-banner.p-right .banner-contain {
          float: none; }
        .full-banner .banner-contain h2 {
          font-size: 65px; }
        .full-banner .banner-contain h3 {
          font-size: 2.5rem; }
        .full-banner .banner-contain h4 {
          font-size: 1.125rem;
          padding-top: 0;
          letter-spacing: 0.3em; }
        .full-banner.feature-banner .feature-object {
          text-align: left;
          margin-left: 0;
          margin-bottom: 30px; }
          .full-banner.feature-banner .feature-object li .media .media-body {
            text-align: left; }
          .full-banner.feature-banner .feature-object li .media img {
            -webkit-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1;
            margin-right: 15px;
            margin-left: 0; }
        .full-banner.feature-banner .feature-object li,
        .full-banner.feature-banner .feature-object-right li {
          margin-bottom: 30px; }
      .pet-parallax .full-banner {
        padding-top: 50px;
        padding-bottom: 50px; }
    }

    @media (max-width: 480px) {
      .full-banner {
        padding-top: 40px;
        padding-bottom: 40px; }
        .full-banner.parallax-layout {
          padding-top: 40px;
          padding-bottom: 40px; }
        .full-banner .banner-contain h2 {
          font-size: 3.75rem; }
        .full-banner .banner-contain h4 {
          font-size: 1.125rem; }
        .full-banner .santa-img {
          bottom: -20px;
          left: 10px; }
          .full-banner .santa-img img {
            width: 76px; }
      .pet-parallax .full-banner {
        padding-top: 40px;
        padding-bottom: 40px; }
    }

    @media (max-width: 420px) {
      .full-banner .banner-contain h2 {
        font-size: 3.4375rem; }
        .full-banner .banner-contain h3 {
          font-size: 2.25rem; }
        }
    
        @media (max-width: 360px) {

          .full-banner {
            padding-top: 30px;
            padding-bottom: 30px; }
            .full-banner.parallax-layout {
              padding-top: 30px;
              padding-bottom: 30px; }
            .full-banner .banner-contain h2 {
              font-size: 3.4375rem; }
            .full-banner .banner-contain h3 {
              font-size: 1.875rem; }
          .pet-parallax .full-banner {
            padding-top: 30px;
            padding-bottom: 30px; }
      }