.review-page {
    margin-top: 30px;
}

.review-page .comment-section {
	border-bottom: none !important;
}

.review-page .comment-section li {
    margin-bottom: 30px;
}

.review-page .comment-section h4 {
    font-weight: 700;
    margin-bottom: 0px;
}

.review-page .comment-section p {
    margin-top: 20px;
    font-size: 0.875rem;
}

.review-page .comment-section span {
    font-size: 0.75rem;
    display: block;
    margin-top: -5px;
}

.review-page .comment-section h6 {
    margin-bottom: 0;
    margin-left: 10px;
    color: #323232;
    font-weight: 700;
    font-size: 15px;
}